body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

#errorMsg {
    visibility: hidden;
    margin-top: 1rem;
}

#summary {font-size: 1.2rem;}

.about-content p {
    text-align: center;
    width: 60%;
    margin: 3rem auto;
    font-size: 1.5rem;
}

form {
    /* width: 50%; */
    margin: 0 auto;
}

.main-content {
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about {
    min-height: 250px;
    font-family: monospace;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/img/weather-bg.jpg');
    background-size: cover;
    background-position: center;
}

#about h2 {
    font-size: 5.5rem;
}

#temp {align-self: center;}

#icon {
    max-width: max-content;
}

#forecast span {
    margin: 1rem .2rem;
}

form input {
    margin-bottom: 1rem;
}

footer {
    padding: 1rem;
}

footer p {
    margin: 0
}

@media screen and (max-width: 992px) {
    .about-content p {
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    .about-content p {
        width: 90%;
    }

    #about h2 {
        font-size: 4rem
    }
}